# npm login
# npm publish --access=public

# Project One
testPackage.js
Install_Package_In_Project/node_modules
Install_Package_In_Project/package-lock.json
# Project Two
NPX_Command/node_modules
NPX_Command/package-lock.json
# Project Three
NPX_Tool/node_modules
NPX_Tool/package-lock.json